.title {
  font-size: 48px;
}

.completed {
  text-decoration: line-through;
  opacity: .7;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

[type=checkbox] {
  width: 20px;
  height: 20px;
}
